Django
django-import-export
aiogram
aiohttp
django-unfold
requests
asgiref
async-timeout
python-dotenv
pillow
django-extensions # Django kengaytmalari
redis  # agar Redis ishlatilsa
django-redis  # agar Redis cache ishlatilsa
celery
gevent
